$colors: (
  black: #000,
  yellow1: #FFE600,
  gray1: #333,
  gray2: #666,
  gray3: #999,
  gray4: #EEE,
  blue1: #3483FA,
  white: #fff
);

@function color($color) {
  @return map-get($colors, $color);
}
