@import '../../../assets/scss/variables.scss';

.breadcrumb {
  padding: 0 0 16px;
  margin: 0;
  background: none;

  & > li + li::before {
    content: '\003e';
  }

  a {
    font-size: 14px;
    color: color(gray3);
  }

  .active {
    color: color(gray2);
  }
}
